<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/time_sh.css">
    <title>Табель времени</title>
  </head>
  <body>

  <div class="container" id="place_sheet">
      <form action="" id="form_timesheet" method="post">
            <div class="container" id="title-container">
              <h5 id="title">Табель времени</h5>
                <h5><input type="text" id="company" value="{{ company }}" readonly name="company"></h5>
                <h5><input type="text" id="date" value="{{ date }}" readonly name="date"></h5>
                <h5><input type="text" id="contractor" value="{{ contractor }}" readonly name="contractor"></h5>
                <h5><textarea id="name_work" readonly name="name_work" readonly>{{ name_work }}</textarea></h5>
                <input  type="number" id="cont_id" value="{{ cont_id }}" name="cont_id" readonly hidden>
                <input  type="number" id="comp_id" value="{{ comp_id }}" name="comp_id" readonly hidden>
            </div>
          <div class="container form-box" id="form_container">
            <div class="form-group">
                <div class="build_stage_level">
                <div class="input_build">
                    <select name="select" id="build" required >
                        <option selected disabled value="">Здание</option>
                    </select>
                </div>
                    <div class="input_inline">
                        <div class="left-block" >
                            <input type="text" class="form-control only-block" placeholder="Этаж" name="level" id="level" required >
                        </div>
                        <div class="right-block">
                            <input type="number" class="form-control only-block" placeholder="Этап" name="stage" id="stage" required >
                        </div>
                    </div>
                    </div>
                <div class="workers">
                    <h4>Рабочие</h4>
                    <div class="input_inline">
                        <div class="left-block" >
                            <input type="number" class="form-control only-block" placeholder="Плановый" name="worker_p" id="worker_p" value="0">
                        </div>
                        <div class="right-block">
                            <input type="number" class="form-control only-block" placeholder="Фактический" name="worker_f" id="worker_f" value="0">
                        </div>
                    </div>
                </div>
                <div class="workers">
                    <h4>ИТР</h4>
                    <div class="input_inline">
                        <div class="left-block" >
                            <input type="number" class="form-control only-block" placeholder="Плановый" name="itr_p" id="itr_p" value="0">
                        </div>
                        <div class="right-block">
                            <input type="number" class="form-control only-block" placeholder="Фактический" name="itr_f" id="itr_f" value="0">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
        <div class="btn-add">
            <input type="button" value="Добавить" class="btn" id="btn-add">
        </div>
      <div class="btn-send">
        <input form="form_timesheet" type="submit" value="Отправить" class="btn">
      </div>
      </div>
  <script src = "{{ url_for('static', filename = 'js/form_USER.js') }}"></script>
  </body>
</html>