<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/time_sh.css">
    <title>Табель времени</title>
  </head>
  <body>
  <div class="container" id="title-container">
      <h5 id="title">Табель времени</h5>
      <h5 id="company">{{ company }}</h5>
      <h5 id="date"> {{ date }}</h5>
      <h5 id="name_work">{{ name_work }}</h5>
  </div>
  <div class="container" id="place_sheet">
          <div class="container form-box" id="form_container">
              <h5 class="complete-form">{{ msg }}</h5>
                    </div>
      </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="../static/js/button.js"></script>
  </body>
</html>