<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="stylesheet" href="../static/style.css">
    <title>Bootstrap demo</title>
  </head>
  <body>
  <div class="main_body">
    <div class="first_1">
      <div id="header">
        <p>ЛИИС/АМР</p>
        <table border="1", cellpadding="1">
          <tr>
            <th colspan="3", rowspan="3"> 27.05.2022</th>
            <th colspan="4">ЛИИС/АМР</th>
          </tr>
          <tr>
            <th colspan="4"> Электрика (ЭОМ, СГП) </th>
          </tr>
          <tr>
            <th colspan="2"> Рабочие</th>
            <th colspan="2"> ИТР</th>
          </tr>
          <tr>
            <th>Этап</th>
            <th>Здание</th>
            <th>Этаж</th>
            <th>П</th>
            <th>Ф</th>
            <th>П</th>
            <th>Ф</th>
          </tr>

        </table>
      </div>
      <div class="title_table">
      </div>
    </div>
      <form>
        <div id="string">
          <label for="stage"></label><input type="text" id="stage", size="5">
          <label for="build"></label><input type="text" id="build", size="5">
          <label for="level"></label><input type="text" id="level", size="5">
          <label for="work_p"></label><input type="text" id="work_p", size="2">
          <label for="work_f"></label><input type="text" id="work_f", size="2">
          <label for="itr_p"></label><input type="text" id="itr_p", size="2">
          <label for="itr_f"></label><input type="text" id="itr_f", size="2">
        </div>
<!--        <label for="lastname">Last Name</label>-->
<!--        <input type="text" id="lastname">-->
<!--        <label for="lastname">Last Name</label>-->
<!--        <label>Last Name<input type="text" name="lastname"></label>-->
<!--      </form>-->
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>