<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Табель времени</title>
  </head>
  <body>
    <div class="container">
        <div class="navbar-header">
            <h1 class="text-center  text-uppercase text-primary">
                <small> ЛИИС/АМР</small>
            </h1>

            <h2 class="text-center  text-uppercase text-danger">
                <small> 29.05.2022</small>
            </h2>
            <h2 class="text-center  text-uppercase text-primary">
                <small> "Электрика (ЭОМ,СГП)"</small>
            </h2>
        <form action="" id="form_timesheet" method="post">
            <div class="form-group" id="first">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Этап" name="stage">
                    <input type="text" class="form-control" placeholder="Этаж" name="level">
                    <input type="text" class="form-control" placeholder="Здание" name="build">
                </div>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Деж.П" name="dej_p">
                    <input type="number" class="form-control" placeholder="Деж.Ф" name="dej_f">
                    <input type="number" class="form-control" placeholder="ИТР.П" name="itr_p">
                    <input type="number" class="form-control" placeholder="ИТР.Ф" name="itr_f">
                </div>
                <div class="line-separator"></div>
            </div>
        </form>
            <div class="buttons">
                <input type="button" value="Добавить" class="btn btn-primary" id="btn-add-str" onclick="add_str();">
                <input type="button" value="Удалить" class="btn btn-danger" id="clear">
            </div>
            <div>
                <div class="send-form">
                <input form="form_timesheet" type="submit" value="Отправить" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="../static/js/form_GP.js"></script>
  </body>
</html>