<!--        <table border="1", cellpadding="1">-->
<!--          <tr>-->
<!--            <th colspan="3", rowspan="3"> 27.05.2022</th>-->
<!--            <th colspan="4">ЛИИС/АМР</th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th colspan="4"> Электрика (ЭОМ, СГП) </th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th colspan="2"> Рабочие</th>-->
<!--            <th colspan="2"> ИТР</th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Этап</th>-->
<!--            <th>Здание</th>-->
<!--            <th>Этаж</th>-->
<!--            <th>П</th>-->
<!--            <th>Ф</th>-->
<!--            <th>П</th>-->
<!--            <th>Ф</th>-->
<!--          </tr>-->

<!--        </table>-->