

body {
    background-color: #EBECF9;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
}

div.line-separator {
    height: 10px;
}

div.del-line {
    margin: 5px;
    text-align: right;
}

div.buttons {
    margin: 5px;
    text-align: center;
}

div.send-form {
    margin: 10px;
    text-align: center;
}



input.btn-del-str {
    color: #66625b;
    margin: 5px;
    background: #FFFFFF;
    text-decoration: none;
    padding: .05em .5em;
    border-radius: 6px;
    border: 0;
    height: 35px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

input.btn-del-str:hover {
    background: #dbd9d5;
    color: #66625b;
}

input.btn-del-str:active {
     background: #dbd9d5;
     color: #66625b;
     border: 1px #66625b solid;
}
